<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for("static", path="/favicon.ico") }}" rel="icon">
    <link href="{{ url_for("static", path="/css/styles.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", path="/css/header.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", path="/css/index.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", path="/css/favorites.css") }}" rel="stylesheet">
    <title>Aniweb - Избранное</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="main">
        <div class="main-wrapper">
            <div class="favorites-wrapper">
                <span class="releases-span">Избранные релизы</span>
                    {% if favorites %}
                        {% if favorites|length >= 5 %}
                            <div class="cards-wrapper">
                        {% else %}
                            <div class="cards-wrapper card-{{ favorites|length }}-wrapper">
                        {% endif %}
                            {% for release in favorites %}
                                <a href="/release/{{ release.alias }}" class="card-item">
                                    <div class="img-container">
                                        <img src="{{ release.poster }}" class="img-round">
                                        <div class="info-overlay img-round">
                                            <div class="info-wrapper">
                                                <div class="info-content">
                                                    <span class="name">{{ release.name }}</span>
                                                    <div class="small-items">
                                                        <span class="type text-lightgray">{{ release.type }}</span>
                                                        <div class="circle"></div>
                                                        <span class="year text-lightgray">{{ release.year }}</span>
                                                        <div class="circle"></div>
                                                        <span class="age_rating text-lightgray">{{ release.age_rating }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="not-found" id="not-found">
                            <span>У вас нету избранных релизов</span>
                            <a href="/">
                                <button class="default-button" id="not-found-button">Главная</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
    <script src="{{ url_for("static", path="/js/header.js") }}"></script>
</body>
</html>